<header class="navbar bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" style="cursor: pointer;" hx-post="/templateTable" hx-target="main">
            <img src="./img/favicon.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            <h1 class="d-none d-sm-block fs-4 mb-0 ms-1">Inventory Management</h1>
        </a>
        <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title overflow-hidden" id="offcanvasNavbarLabel" hx-post="/getEmail" hx-trigger="load">Email</h5>
                <button class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-between">
                <div>
                    <button class="btn btn-primary w-100 mb-3" data-bs-dismiss="offcanvas" hx-post="/templateAddItem" hx-target="main">Add Item</button>
                    <button class="btn btn-outline-primary w-100" hx-post="/logout">Logout</button>
                </div>
                <div>
                    <button class="btn btn-outline-primary w-100 mb-3" data-bs-dismiss="offcanvas" hx-post="/templateChangeEmail" hx-target="main">Change email</button>
                    <button class="btn btn-outline-primary w-100 mb-3" data-bs-dismiss="offcanvas" hx-post="/templateChangePassword" hx-target="main">Change password</button>
                    <button class="btn btn-outline-danger w-100" data-bs-dismiss="offcanvas" hx-post="/templateDeleteProfile" hx-target="main">Delete profile</button>
                </div>
            </div>
        </div>
    </div>
</header>