<form class="ajax-form overlay-container" hx-post="/changePassword" hx-ext="response-targets" hx-target-error="#error-container">
    <label for="input-password">New password</label>
    <input id="input-password" name="new-password" type="password" minlength="6" maxlength="255" required>
    <label for="input-password-repeat">Repeat password</label>
    <input id="input-password-repeat" name="new-password-repeat" type="password" minlength="6" maxlength="255" required>
    <label for="input-current-password">Current password</label>
    <input id="input-current-password" name="current-password" type="password" minlength="6" maxlength="255" required>
    <button type="submit">Change password</button>
    <div id="error-container"></div>
</form>