<form hx-post="/changeEmail">
    <div class="form-floating mb-2">
        <input class="form-control" id="input-email" placeholder="" name="new-email" type="email">
        <label for="input-email">New Email</label>
        <small class="form-text text-danger ms-2" id="email-feedback"></small>
    </div>
    <div class="form-floating mb-2">
        <input class="form-control" id="input-email-repeat" placeholder="" name="new-email-repeat" type="email">
        <label for="input-email-repeat">Repeat New Email</label>
        <small class="form-text text-danger ms-2" id="email-repeat-feedback"></small>
    </div>
    <div class="form-floating mb-2">
        <input class="form-control" id="input-password" placeholder="" name="password" type="password">
        <label for="input-password">Password</label>
        <small class="form-text text-danger ms-2" id="password-feedback"></small>
    </div>
    <button class="btn btn-primary mb-2 py-2 w-100" type="submit">Change email</button>
</form>