:root {
    --dark-gray: #222831;
    --light-gray: #393E46;
    --dark-orange: #D65A31;
    --light-orange: #F96D00;
    --white: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--white);
}

.ajax-container {
    height: 100vh;
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajax-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.ajax-title {
    font-size: 25px;
}

.ajax-form {
    display: flex;
    flex-direction: column;
}

.ajax-form label {
    margin: 0 0 5px 5px;
}

.ajax-form input {
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 4px;
}

.ajax-form button {
    border: none;
    cursor: pointer;
    background-color: var(--light-orange);
    font-size: 20px;
    font-weight: bold;
    padding: 6px 4px;
    margin-top: 5px;
    border-radius: 5px;
    transition: 0.2s ease-out;

    &:hover {
        background-color: var(--dark-orange);
    }
}

#error-container {
    text-align: center;
    color: var(--light-orange);
    font-size: 20px;
    margin: 10px 0 0;
}

.ajax-nav {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 auto;
    transition: 0.3s ease-out;
    font-size: 20px;
    text-decoration: none;

    &:hover {
        color: var(--light-orange);
    }
}

@media (width > 425px) {
    .ajax-content {
        border-radius: 10px;
        background-color: var(--light-gray);
        padding: 20px;
    }
}

#overlay {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

#closeOverlay {
    position: fixed;
    top: 15px;
    right: 15px;
    border: none;
    cursor: pointer;
    padding: 6px 4px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: var(--light-orange);
    transition: 0.2s ease-out;

    &:hover {
        background-color: var(--dark-orange);
    }
}

.overlay-container {
    border-radius: 10px;
    background-color: var(--light-gray);
    padding: 20px;
}

header {
    height: 60px;
    padding: 0 15px 0 15px;
    background-color: var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: var(--light-orange);
    font-size: 20px;
}

header label,
.icon {
    height: 50px;
}

.icon:hover {
    cursor: pointer;
}

#checkbox {
    display: none;
}

#checkbox:not(:checked) + .menu {
    display: none;
}

#checkbox:checked + .menu {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 15px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
}

.menu span {
    color: var(--light-orange);
    font-size: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0 10px 0;
}

.button1, .button2 {
    border: none;
    cursor: pointer;
    padding: 6px 4px;
    margin-top: 5px;
    border-radius: 5px;
    transition: 0.2s ease-out;

    &:hover {
        background-color: var(--dark-orange);
    }
}

.button1 {
    border: 1px solid var(--light-orange);
    background-color: transparent;
}

.button2 {
    background-color: var(--light-orange);
}

body {
    background-color: var(--dark-gray);
}

main {
    min-height: calc(100vh - 60px);
    width: clamp(300px, 80%, 1600px);
    overflow: hidden;
    margin: 0 auto;
    overflow-x: auto;
}

.addButton {
    margin: 15px;
}

#table {
    border: 1px solid var(--light-orange);
    border-collapse: collapse;
    margin: 0 auto;
}

#table th {
    border: 1px solid var(--light-orange);
    padding: 3px 10px;
    max-width: 395px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 50px 0;
}
