<form class="mx-auto" style="width: 90%; max-width: 400px;" hx-post="/changePassword">
    <h2 class="fs-4 mb-3">Change Password</h2>
    <div class="form-floating mb-2">
        <input class="form-control" id="input-new-password" placeholder="" name="new-password" type="password">
        <label for="input-new-password">New Password</label>
        <small class="form-text text-danger ms-2" id="new-password-feedback"></small>
    </div>
    <div class="form-floating mb-2">
        <input class="form-control" id="input-new-password-repeat" placeholder="" name="new-password-repeat" type="password">
        <label for="input-new-password-repeat">Repeat New Password</label>
        <small class="form-text text-danger ms-2" id="new-password-repeat-feedback"></small>
    </div>
    <div class="form-floating mb-2">
        <input class="form-control" id="input-password" placeholder="" name="password" type="password">
        <label for="input-password">Confirm Password</label>
        <small class="form-text text-danger ms-2" id="password-feedback"></small>
    </div>
    <button class="btn btn-primary mb-2 py-2 w-100" type="submit">Change Password</button>
</form>