<form class="mx-auto" style="width: 90%; max-width: 400px;" hx-post="/deleteProfile">
    <h2 class="fs-4 mb-3">Delete Profile</h2>
    <div class="form-floating mb-2">
        <input class="form-control" id="input-password" placeholder="" name="password" type="password">
        <label for="input-password">Confirm Password</label>
        <small class="form-text text-danger ms-2" id="password-feedback"></small>
    </div>
    <button class="btn btn-danger mb-2 py-2 w-100" type="submit">Delete Profile</button>
</form>