<form class="mx-auto my-5" style="width: 90%; max-width: 400px;" hx-post="/deleteProfile">
    <h2 class="fs-4 mb-3">Delete Profile</h2>
    <div class="form-floating mb-2">
        <input class="form-control" id="input-password" placeholder="" name="password" type="password">
        <label for="input-password">Confirm Password</label>
        <small class="form-text text-danger ms-2" id="password-feedback"></small>
    </div>
    <button class="btn btn-danger mb-2 py-2 w-100" type="submit">Delete Profile</button>
    <a class="d-block mx-auto p-2 link-underline link-offset-3 link-underline-opacity-0 link-underline-opacity-100-hover" style="width: fit-content; cursor: pointer;" hx-post="/templateTable" hx-target="main">Go back</a>
</form>