<div id="ajax-container" class="my-4 mx-auto px-4 align-self-center" style="width: 90%; max-width: 400px;">
    <h2 class="fs-3 mb-3">Signup</h2>
    <form hx-post="/signup">
        <div class="form-floating mb-2">
            <input class="form-control" id="input-email" placeholder="" name="email" type="email">
            <label for="input-email">Email</label>
            <small class="form-text text-danger ms-2" id="email-feedback"></small>
        </div>
        <div class="form-floating mb-2">
            <input class="form-control" id="input-password" placeholder="" name="password" type="password">
            <label for="input-password">Password</label>
            <small class="form-text text-danger ms-2" id="password-feedback"></small>
        </div>
        <div class="form-floating mb-2">
            <input class="form-control" id="input-password-repeat" placeholder="" name="password-repeat" type="password">
            <label for="input-password-repeat">Repeat Password</label>
            <small class="form-text text-danger ms-2" id="password-repeat-feedback"></small>
        </div>
        <button class="btn btn-primary mb-2 py-2 w-100" type="submit">Signup</button>
    </form>
    <a class="d-block mx-auto p-2 link-underline link-offset-3 link-underline-opacity-0 link-underline-opacity-100-hover" style="width: fit-content; cursor: pointer;" hx-post="/templateLogin" hx-target="#ajax-container" hx-swap="outerHTML">Back to login</a>
</div>