<div id="ajax-container" class="container my-4 px-4 align-self-center" style="max-width: 400px;">
    <h2 class="fs-3 mb-3">Signup</h2>
    <form hx-post="/signup">
        <div class="form-floating mb-3">
            <input class="form-control" id="input-email" placeholder="" name="email" type="email" autocomplete="email">
            <label for="input-email">Email</label>
            <small class="form-text text-danger" id="email-feedback"></small>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="input-password" placeholder="" name="password" type="password" autocomplete="password">
            <label for="input-password">Password</label>
            <small class="form-text text-danger" id="password-feedback"></small>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="input-password-repeat" placeholder="" name="password-repeat" type="password" autocomplete="new-password">
            <label for="input-password-repeat">Repeat Password</label>
            <small class="form-text text-danger" id="password-repeat-feedback"></small>
        </div>
        <button class="btn btn-primary mb-3 py-2" style="width: 100%;" type="submit">Signup</button>
    </form>
    <a class="d-flex justify-content-center link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="cursor: pointer;" hx-post="/templateLogin" hx-target="#ajax-container" hx-swap="outerHTML">Back to login</a>
</div>